#global {
    text-align: left;
    border: 1px solid #dedede;
    width: 1024px;
    padding: 20px;
    margin: 60px auto;
}

form {
  font:100% verdana;
 
  width: 1024px;
}
#bloque1{
	float:left;
	padding-right: 10px;
	padding-left: 10px;
}

#bloque2{
	float: right;
	padding-right: 20px;
}


form fieldset {
  border-color: #ccff00;
  border-width: 1px;
  margin: 0;
}

legend {
    font-size: 1.3em;
}

form label { 
    width: 150px;
    display: block;
    float: left;
    text-align: left;
    padding: 10px;
    padding-left: 25px;
}

table td {
	border: 1px solid #dedede;
	background: MistyRose;
	/* for web colors visit http://en.wikipedia.org/wiki/Web_colors */
}

#buttons {
    text-align: right;
}
.alternativeBtns{
	text-align: center;
}
#errors, li {
	color: red;
}
.error {
    color: red;
    font-size: 9pt;	
}

.hidden { display: none; }