<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/Nutricion</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>
         
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
  
	    <mapping class="com.nutricion.domain.AlimentacionaEvaluar"/>
	    <mapping class="com.nutricion.domain.Alimento"/>
		<mapping class="com.nutricion.domain.Cliente"/>
	    <mapping class="com.nutricion.domain.ConductasRelSalud"/>
	    <mapping class="com.nutricion.domain.DietaPrevia"/>
	    <mapping class="com.nutricion.domain.Ejercicio"/>
	    <mapping class="com.nutricion.domain.HistoriaClinicaFamiliar"/>
	    <mapping class="com.nutricion.domain.HistoriaClinicaPersonal"/>
	    <mapping class="com.nutricion.domain.Medicamento"/>
	    <mapping class="com.nutricion.domain.Meta"/>
	    <mapping class="com.nutricion.domain.Suplemento"/>
	    <mapping class="com.nutricion.domain.Telefono"/>
	    <mapping class="com.nutricion.domain.ValoracionDietetica"/>	           
    </session-factory>
</hibernate-configuration>